In [1]:
import numpy as np
import pandas as pd

In [2]:
X = np.load('x_61046.npy')

In [3]:
X.shape

(61194, 500, 29)

In [4]:
y = np.load('y_61046.npy')

In [5]:
y.shape

(61194, 500, 1)

In [45]:
y.min(), y.max()

(-18.16590212458494, 14.071247279470288)

In [13]:
X.dtype

dtype('float64')

In [16]:
import matplotlib.pyplot as plt

In [25]:
X.min()

-4.561450777662304

In [ ]:
# 24, 25, 26, 27

In [43]:
for id in range(20,29):
    print (id, X[:,:,id].min(), X[:,:,id].max())

20 0.0 1.0
21 0.0 1.0
22 0.0 1.0
23 0.0 1.0
24 -4.143457803026967 4.159515261473267
25 -4.561450777662304 4.141681859862633
26 -4.207764457111378 4.013109406798028
27 0.0 1.0
28 0.0 500.0

In [47]:
A = X[:,:,-1]

In [48]:
df = pd.DataFrame(data=A)

In [49]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,274.0,274.0,274.0,274.0,274.0,274.0,274.0,274.0,274.0,274.0,...,274.0,274.0,274.0,274.0,274.0,274.0,274.0,274.0,274.0,274.0
1,127.0,127.0,127.0,127.0,127.0,127.0,127.0,127.0,127.0,127.0,...,127.0,127.0,127.0,127.0,127.0,127.0,127.0,127.0,127.0,127.0
2,273.0,273.0,273.0,273.0,273.0,273.0,273.0,273.0,273.0,273.0,...,273.0,273.0,273.0,273.0,273.0,273.0,273.0,273.0,273.0,273.0
3,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,...,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0,138.0
4,238.0,238.0,238.0,238.0,238.0,238.0,238.0,238.0,238.0,238.0,...,238.0,238.0,238.0,238.0,238.0,238.0,238.0,238.0,238.0,238.0

In [68]:
X[:,1,24].std()

1.2587338400883996

In [66]:
X[:,:,24].std(axis=1).max()

1.0